/* PostDetail.css */

.post-detail-container {
    width: 70%;
    margin: 0 auto;
    padding: 2rem;
    background-color: #ffffff;
    border-radius: 15px;
    padding-top: 100px;
}

.post-title {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: #333333;
}

.post-meta {
    font-size: 1rem;
    color: #888;
    margin-bottom: 1rem;
}

.post-content {
    margin-bottom: 2rem;
    font-size: 1.2rem;
    line-height: 1.6;
}

.read-more {
    text-align: right;
}

.read-more a {
    color: #007bff;
    text-decoration: none;
}

.read-more a:hover {
    text-decoration: underline;
}

.shadow {
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}

.rounded {
    border-radius: 15px;
}
